<div class="header-wrapper">
  <div class="header-logo"></div>
  <div class="header-title">SmartStream 3D</div>
  <div class="file-menu">
    <ul>
      <li><a href="#">File</a></li>
      <li><a href="#">Edit</a></li>
      <li><a href="#">View</a></li>
      <li><a href="#">Help</a></li>
    </ul>
  </div>
</div>