<div [hidden]="!showPanel" class="toolbar-panel duplicate">
  <div class="header">
    <div class="title">Duplicate
      <div class="close" (click)="onCloseClick($event)"></div>
    </div>
  </div>
</div>