<div draggable [draggable]="isDraggable" [hidden]="!showPanel" class="toolbar-panel cutaway">
  <div class="header" (mousedown)="draggable(true)" (mouseup)="draggable(false)">
    <div class="title">Cutaway
      <div class="close" (click)="onCloseClick($event)"></div>
    </div>
  </div>
</div>