<li class="toolbar-item {{isEnabled}}" [ngStyle]="setStyles()" (click)="onClick($event)" (mouseenter)="onEnter($event)" (mouseleave)="onLeave($event)" (mousedown)="onDown($event)" (mouseup)="onUp($event)" class="toolbar-item {{ toolbarItem.class }}">
  <em *ngIf="hasPanel"></em>
</li>
<div #panelContainer></div>