<div class="navigation-wrapper">
  <div class="navigation-bar">
    <button (click)="toggleMenu()" class="hamburger"></button>
    <button (click)="goBack()" class="back"></button>
    <button (click)="goForward()" class="forward"></button>
  </div>
  <div [@slideInOut]="menuState" class="navigation-slide-in">
    <ul>
      <li><a (click)="toggleMenu()" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="home"></i>Home</a></li>
      <li><a (click)="toggleMenu()" routerLink="/creator" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}"><i class="creator"></i>Jobs</a></li>
      <li><a (click)="toggleMenu()" routerLink="/builds" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}"><i class="builds"></i>Builds</a></li>
      <li><a (click)="toggleMenu()" routerLink="/printers" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}"><i class="printers"></i>Printers</a></li>
    </ul>
  </div>
</div>