/* Colors */

$HpeColorBlue_01: #006699;
$HpeColorBlue_02: #0F7BBB;
$HpeColorBlue_03: #0096D6;

$HpeColorGrey_14: #eeeeee;
$HpeColorGrey_12: #d5d5d5;
$HpeColorGrey_09: #a2a2a2;

$white: #ffffff;
$black: #000000;

$background-color: $HpeColorGrey_14;