html {
    height: 100%;
}

body {
    background-color: $background-color;
    min-height: 100%;
    width: 100%;
    overflow: auto;
}

app-root {
    height: 100vh; // Make the app-root element 100% view port height
    //height: 100%;
    //max-height: 100%;
    display: flex; 
    flex-direction: column; // top -> down
    //align-content:stretch;
    //background-color: red;
}

.header-wrapper {
    height: 48px;
    width: 100%;
    background-color: $HpeColorBlue_03;
    position: relative;
    color: $white;

    .header-logo {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 9px;
        left: 9px;
        //background-image: url('assets/hp-logo-30x30.svg');
        background-repeat: none;
        background-position: center;
    }

    .header-title {
        position: absolute;
        top: 17px;
        left: 60px;
        @include hp-normal;
    }

    .file-menu {
        position: absolute;
        top: 17px;
        left: 220px;
        ul li {
            list-style-type: none;
            float: left;
            @include hp-light;
            margin-right: 15px;

            a {
                color: $white;
                text-decoration: none;
            }
        }
    } 
}

.navigation-wrapper {

    position: relative;
    height: 100%;

    .navigation-bar {
        height: 70px;
        width: 100%;
        background-color: $white;
    }

    .navigation-slide-in {
        height: 100%;
        width: 90px;
        margin-left: -90px;
        background-color: $HpeColorBlue_03;
        position: fixed;

        ul {
            li a {
                width: 90px;
                height: 90px;
                display: inline-block;

                text-decoration: none;
                //text-align: center;
                color: $white;
                @include hp-normal;
                font-size: 14px;
                
                    text-align: center; 
                i {
                    width: 24px;
                    height: 24px;
                    display: block;
                    margin: 18px auto 10px auto;

                    &.home {
                        background: url('assets/icon-home.svg') no-repeat center center;        
                    }

                    &.creator {
                        background: url('assets/icon-builds.svg') no-repeat center center;        
                    }

                    &.builds {
                        background: url('assets/icon-builds.svg') no-repeat center center;        
                    }

                    &.printers {
                        background: url('assets/icon-printer.svg') no-repeat center center;        
                    }

                }

                &:hover {
                    background-color: $HpeColorBlue_01;
                }

                &.active {
                    background-color: $HpeColorBlue_01;
                }
            }
        }
    }

    button.hamburger {
        width: 24px;
        height: 18px;
        background-image: url('assets/menu-toggle.svg');
        //cursor: pointer;
        position: absolute;
        top: 26px;
        left: 20px;

        &:hover {
            opacity: .7;
        }
    }

    button.back {
        width: 10px;
        height: 16px;
        background-image: url('assets/icon-back.svg');
        //cursor: pointer;
        position: absolute;
        top: 27px;
        left: 70px;

        &:hover {
            opacity: .7;
        }
    }

    button.forward {
        width: 10px;
        height: 16px;
        background-image: url('assets/icon-forward.svg');
        //cursor: pointer;
        position: absolute;
        top: 27px;
        left: 100px;

        &:hover {
            opacity: .7;
        }
    }
}

/******************
Toolbar
*******************/

ul.toolbar {

    background-color: $white;
    width: 56px;
    margin-top: 4px;
    padding-top: 12px;
    padding-bottom: 12px;

    li.toolbar-item {
        margin: 0 auto 1px auto;
        width: 32px;
        height: 32px;
        display: block;
        border: 1px solid $white;
        position: relative;
        
        
        &:active {
            background-color: $HpeColorBlue_03;
        }

        &.true {
            border: 1px solid $HpeColorBlue_03;
        }

        //@media only screen and (-webkit-min-device-pixel-ratio: 2) {
            background-size: 32px 32px;
        //}
        em {
            display: block;
            position: absolute;
            bottom: 2px;
            right: 2px;
            width: 6px;
            height: 6px;
            background-image: url('assets/toolbar/hasPanel.svg');
        }
    }
}

.main-container {
    flex-grow: 1;
}

app-creator {
    flex-grow: 1;
    background: url('assets/bgCreator.png') no-repeat center;
}

.workspace.creator {
    width: 100%;
    height: 100%;
    display: block;
    z-index: 99999999;
    background: url('assets/bgCreator.png');
    background-size: cover; 
}

.item-list.builds {
    li {
        height: 120px;
        display: block;
        background-color: $HpeColorGrey_12;
        margin: 10px;
    }
    
}

[panelContainer] {
    display: none;
}

app-cutaway{
    position: absolute;
    

}


    //style["-webkit-transform"] = "translate(-50%, -50%)";
    //style.transform = "translate(-50%, -50%)";

.toolbar-panel {
    
    background-color: $white;
    position: fixed;
    //-webkit-transform: translate(-50%, -50%);
    //transform: translate(-50%, -50%);
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);

    .header {
        height: 48px;
        display: block;
        border-bottom: 1px red;
        .title {
            padding: 14px 24px;
            .close {
                width: 20px;
                height: 20px;
                background-image: url('assets/icons/Close_Default.svg');
                float: right;
            }
        }
        
    }

    &.cutaway {
        width: 216px;
        height: 288px;
    }
    
    left: 100px;    
}

[draggable] {
    z-index: 9999999;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      background-color: red!important;
    }
